#root {
  margin: 0 auto;
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}

br {
  color: #ffffff;
}

.aside {
  max-width: 420px;
  width: 100%;
  border-right: 2px solid #bdbdbd;
  box-sizing: border-box;
}

.aside p {
  text-align: center;
  font-size: 1.8rem;
  padding: 0 1.2rem;
  font-weight: 700;
}

.cv-section {
  flex-grow: 1;
  box-sizing: border-box;
}

.detailsButton {
  padding: 1.2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  border-top: 2px solid #bdbdbd;
  border-bottom: 2px solid #bdbdbd;
  box-sizing: border-box;
}

.detailsButton button {
  flex: 0.5 0.5 calc(33.33% - 8px);
  background-color: #393939;
  color: white;
  padding: 0.6rem 0.9rem;
  font-size: 1.3rem;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease-in;
  box-sizing: border-box;
}

.detailsButton button:hover {
  background-color: #7b7b7b;
}

.inputSection {
  padding: 1.2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: 1.6rem;
  box-sizing: border-box;
}

.inputBlock {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

h2 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1rem;
}

label {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

input {
  font-size: 1.2rem;
  padding: 1rem 1.2rem;
  border-radius: 20px;
  border: 2px solid transparent;
  transition: border-color 0.3s ease-in;
  box-sizing: border-box;
}

input:hover {
  border-color: #919191;
}

.cv-section {
  font-size: 1.6rem;
  padding: 1.3rem;
  display: flex;
  flex-direction: column;
}

.cv {
  color: black;
  background-color: white;
  min-height: 100vh;
  padding: 0 1.4rem;
  border: 2px solid #bdbdbd;
  border-radius: 10px;
  box-shadow: 0 4 12px rgba(0, 0, 0, 0.25);
  overflow-y: auto;
}

.top {
  display: flex;
  flex-direction: column;
}

.top h1 {
  font-size: 1.2em;
}

.userDetail {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.4rem;

}
